body {
    background-color: rgb(231, 226, 226);

     background: url(20230808_154444.jpg);

}

h1 {
    color: rgb(8, 8, 8);
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

sub {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

 p {
    font-family: 'Times New Roman', Times, Arial, sans-serif; font-weight: bold;
}

p.thick {
    font-weight: bold;
}

/* classes */

.responses {
    font-family: Verdana, Geneva, Tahoma, sans-serif;color: aliceblue;
}

/* treatment #1 */
.scaled img {
    width: 700px;
    margin-left: 0%;
    margin-top: 0px;
}

/* treatment #2 */
.tiled {
    background-image: url('20230808_154444.jpg');
    background-repeat: repeat;
    background-size: 45px;

    min-height: 500px;
    padding: 20px;
}

/* treatment #3 */
.brightened img {
    width: 300px;
    filter: brightness(250%) contrast(100%) saturate(2000%);
    mix-blend-mode: multiply(50%);
}



/* .fragmented {} */

/* 
@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
} */
/* <style>#myDIV {
    width: 300px;
    height: 200px;
    background: red;
    animation: mymove 5s infinite;
} */

/* 
@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}
</style> */


.out {
  width: 455px;
  height: 275px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.in {
    width: 550px;
    height: 30000px;
    border: 1px solid green;
    position: absolute;
    left: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 500px rgba(226, 21, 21, 0.586);
}

.bottom .in {
    bottom: 0;
    left: 200px;
}
 /* html {
  scroll-behavior: smooth;
} */ */

img {
  float: right;
} */

/*! above code was effective but not what I liked  */

.shrink_image {
    max-width: 0.002%;
    max-height: 0.002%;
} 

.img {
  width: 900px;
  height: 50px;
  object-fit: cover;
  object-position: 80% 20%;
}

/* !code below is not working */
.img1 {
  width: 100px;
  height: 200px;
  object-fit: cover;
  object-position: 80% 20%;
}
 /* Panned to a specific fragment */
/* !div (like a section of code) */
this element is written within the div, so it inherits the div's class

.words{
background-color: aliceblue;

}
.treatment3 {
  width: 100px;
  height: 200px;
  max-width: 0.002%;
  max-height: 0.002%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;